<html>
    
    <head>
        <title>website</title>
  
    <style>
        body{
            font-family: fantasy;
           
     /* Add a black background color to the top navigation */
.topnav {
  background-color: darkorchid;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: hotpink;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: fuchsia;
  color: white;
}
             }
       /* The animation code */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} 
     
        
        </style>
    
    </head>
    
    <body>
 
        <div class="topnav">
  <a class="active" href="index.html">Home</a>
  <a href="#Anna Lo is awesome">Anna Lo is awesome</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> 
        <style>
            body{
                font-family: fantasy;
            }
            .container3 {margin: 40px;
            background color: aquamarine;
            padding: 20px;
            color: aquamarine}</style>
        
        <h1>Home page</h1>
        <p>I am awesome</p>
        <a href="https://hangouts.google.com" target="_blank">google hangouts</a>
    <img src="Jigglypuff.jpg" target=_blank style="width: 700px"> 
    <div class="container">

       
        <h3> This is the home page for my awesome website</h3>
        </div>
    </body>
    
</html>
